.header {
    width: 100%;
    height: 5vh;
    background-color: azure;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menuElement {
    padding-right: 20px;
}

